@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body,
html {
  min-height: 100vh;
  font-family: "Gluten", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 215, 215);
}

.header,
.footer {
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgb(223, 75, 75);
}

.calculator {
  padding: 20px;
  width: 450px;
  height: 540px;
  border-radius: 20px;
  text-align: center;
  border: solid rgb(240, 174, 174) 10px;
  box-shadow: 10px 15px gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(218, 106, 106);
}

.display {
  padding: 15px 20px 15px 20px;
  height: 20%;
  text-align: right;
  font-size: 28px;
  background-color: rgb(49, 38, 38);
  color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
  box-shadow: 2px 3px rgb(87, 78, 78);
}

/* .display-text {
} */

.display-two {
  display: block;
  border-radius: 10px;
  padding: 10px;
}

.display-text-two {
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.key {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.key button {
  border-radius: 15px;
  background-color: rgb(241, 223, 223);
  flex: 1 1 75px;
  border: 3px solid black;
  font-size: 40px;
  font-family: "Gluten", cursive;
  box-shadow: 2px 3px rgb(87, 78, 78);
}

.key button:hover {
  background-color: gray;
}

/*  */
button.multiply,
button.divide,
button.subtract,
button.add,
button.equals,
button.clear {
  background-color: rgb(223, 186, 186);
}

/* Flex ordering */
.seven,
.eight,
.nine,
.divide {
  order: 1;
}

.four,
.five,
.six,
.multiply {
  order: 2;
}

.one,
.two,
.three,
.subtract {
  order: 3;
}

.zero,
.decimal,
.clear,
.add {
  order: 4;
}

.equals {
  order: 5;
}
